body{background-color: rgb(241, 242, 246);}
.main{padding: 10px 0px;}
.head-pic-32{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.head-pic-64{
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.timeline dl:before{
    left: 95%;
}
.timeline dl dd .circ{
    left: 95%;
}

.timeline dl dd .events{
    width: 92%;
}

.events-body .events-heading {
    margin: 0 0 10px;
    font-size: 18px;
}

.timeline dl dd .time {
    left: 94%;
}

.pagination{margin-right: 40px;}

.main-left{margin-top: 40px;}

.main-left h4{
    margin-top: 10px;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255,255,255,1);
}
.main-left h4 span{
    vertical-align: middle;
    margin-right: 5px;
}
.panel{
    margin-bottom: 20px;
}

.panel-heading {
    border-bottom: 1px solid #e0e0e0;
}

.panel-body{
    margin: 0 10px;
}
.panel-footer{
    text-align: center;
}
.panel-body .tag{
    line-height:2.5;
}

.panel-body .tag span{
    margin: 10px 5px;
    padding: 5px;

}

.panel-article-list ol{
    font: italic 1.5em Georgia, Times, serif;
}
.panel-article-list li{
    padding: 5px;
}
ol{
    counter-reset: li; /* 创建一个计数器 */
    list-style: none; /* 清除列表默认的编码*/
    *list-style: decimal; /* 让IE6/7具有默认的编码 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
    /*margin: 0 0 0 2em; /!* 给二级列表增加一定的左边距*!/*/
}

.rounded-list a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    *padding: 0.4em;/*for ie6/7*/
    margin: 0.8em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    /*CSS3属性*/
    border-radius: 0.3em;/*制作圆角*/
    /* transition动画效果*/
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.rounded-list a:hover {
    background: #eee;
}
.rounded-list a:hover::before {
    /*悬停时旋转编码*/
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rounded-list a::before {

    content: counter(li);
    counter-increment: li;

    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*********************************** 标签后的页面 *********************************************/
/*文章内容开始*/
.breadcrumb{
    margin-top: 50px;
}
.articles{
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0px 0px !important;
    margin-top: 10px;
    color: #444;
}
.articles h3 {
    text-align: center;
    margin-bottom: 25px;
    /*padding-top: 30px;*/
    font-size: 24px;
}
.a-write {
    width: 100%;
    height: 25px;
    font-size: 13px;
    text-align: center;
    border: 1px dashed #999999;
    line-height: 25px;
    color: #999999;
    margin: 5px 5px;
}
.a-content {
    margin-top: 20px;
    padding: 10px;
}
.a-up{
    margin-top: 20px;
}
.a-up{
    margin-top: 20px;
}
/*文章内容结束*/

/* 分享层开始 */
.share{
    margin-top: 30px;
}
/* 分享层结束 */
